
:host {
  .download-pdf {
    padding: 5px 10px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    svg { margin-right: 5px; }
  }
}

.graph-context-menu {
  border: 1px solid #686868;
  .disabled {
    display: none;
  }
}

sz-data-table {
  font-size: 12px;
}
