<div style="text-align:left; font-weight: bold; font-size: 1.5em">
    @senzing/sdk-components-ng/examples/with-why-features
  </div>
  <div style="text-align:left; text-decoration: italic; font-size: 0.8em; margin: 2px 0 10px 0;">
    An example Angular app showing usage of the sz-why-entities component
  </div>
  
  <!-- start search box -->
  <div class="component-example">
    <sz-search
      #searchBox
      name="Jenny Smith"
      address="1304 Poppy Hills Dr Blacklick OH 43004"
      showIdentifierTypesPicker="false"
      disableIdentifierOptions="SSN_LAST4"
      enableIdentifierOptions="SOCIAL_NETWORK"
      (resultsChange)="onSearchResults($event)"
      (resultsCleared)="onSearchResultsCleared($event)"
      (exception)="onSearchException($event)"
      (parameterChange)="onSearchParameterChange($event)"></sz-search>
  </div>
  <!-- end search box -->
  
  <!-- start graph match keys checkbox -->
  <!--
  <input type="checkbox"
    id="graph-toggle-match-keys" name="graph-toggle-match-keys"
    (click)="toggleGraphMatchKeys($event)"><label (click)="toggleGraphMatchKeys($event)" for="graph-toggle-match-keys">Toggle Match Keys</label>
  -->
  <!-- end graph match keys checkbox -->
  
  <!-- start graph context menu template -->
  <ng-template #graphContextMenu let-entityEvt>
      <ul class="graph-context-menu">
          <li>#{{entityEvt?.entityId}}</li>
          <li (click)="openGraphItemInNewMenu(entityEvt.entityId)">Open in new tab</li>
      </ul>
  </ng-template>
  <!-- end graph context menu template -->
  
  <!-- start search results -->
  <div class="component-example">
    <sz-search-results *ngIf="showSearchResults" [results]="currentSearchResults" [parameters]="currentSearchParameters" (resultClick)="onSearchResultClick($event)"></sz-search-results>
  </div>
  <!-- end search results -->
  <!-- start entity detail -->
  <div *ngIf="showSearchResultDetail">
    <div class="detail-wrapper">
        <button (click)="onBackToSearchResultsClick($event)">&lt;&lt; Go Back to Search Results</button>
    </div>
    <sz-entity-detail
      #entityDetailComponent
      (graphEntityClick)="onGraphEntityClick($event)"
      (graphEntityDblClick)="onGraphEntityDblClick($event)"
      (graphContextMenuClick)="onGraphContextClick($event)"
      [showEntityWhyFunction]="true"
      [showRecordWhyUtilities]="true"
      [showGraphMatchKeys]="true"
      [graphShowZoomControl]="true"
      graphZoomControlPosition="top-left"
      [entityId]="currentlySelectedEntityId"></sz-entity-detail>
  </div>
  <!-- end entity detail -->
  
<sz-why-entities></sz-why-entities>