:host {
    /*
    --sz-how-nav-border-radius: 0px;
    --sz-how-nav-border-top: 0;
    --sz-how-nav-border-right: 1px solid rgb(80, 80, 80);
    --sz-how-nav-border-bottom: 0;
    --sz-how-nav-border-left: 0;
    --sz-how-nav-min-width: 215px; 
    --sz-how-nav-background: linear-gradient(135deg,#d5d5d5 0,#d5d5d5 98%,#eee 98%);
*/
    sz-how-entity {
        height: 95vh;
    }
}