
:host {

  .mat-background {
      background-color: rgba($color: #000000, $alpha: 0.20);
      position: fixed;
      width: 100vw;
      height: 100vh;
      margin: 0px;
      padding: 0px;
      left: 0;
      top: 0;
  }

  .spinner {
      margin: 50vh auto;
      text-align: center;
      font-size: 10px;
      width: 60px;
      height: 60px;

      div {
          background-color: #333;
          height: 100%;
          width: 9px;
          display: inline-block;
          margin: 0 3px 0 0;

          -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
          animation: sk-stretchdelay 1.2s infinite ease-in-out;
      }

      .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
      }

      .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
      }

      .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
      }

      .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
      }
  }

  /* detail view */
  .detail-wrapper {
      background-color: #C0C0C0;
      color: #3a3a3a;
      padding: 10px 10px;
      margin: 0 0 40px 0;
      border: 1px solid #a3a3a3;
      border-top: 1px solid #9d9d9d;
      background-image: linear-gradient(#a4a4a4, #727272);

      button {
          padding: 10px 55px 10px 15px;
          background-color: #424242;
          border: none;
          border-radius: 3px;
          color: #ffffffd4;
      }
  }

  /* error message */
  .error-message {
    border: 1px solid #888888;
    margin: 30px 33px;
    display: block;
    width: 754px;
    border-radius: 10px;
    background-color: #E0E0E0;
    padding: 16px 25px;
    text-align: center;
    color: #4c4c4c;
  }
}
