
:host {
  .server-info {
    display: flex;
    flex-direction: row;
    * {
      display: inline-flex;
      border: 1px solid #c0c0c0;
      padding: 5px 10px;
      margin: 0 10px;
      background-color: #eee;

      &:first-child {
        margin-left: 0;
      }

      &.active {
        background-color: green;
      }
    }
  }

  .hidden-file-picker {
    visibility: hidden;
    position: absolute;
  }

  button {
    border: 1px solid grey;
    width: 150px;
  }
  table.general-stats {
    margin: 20px 0px 20px 20px;
  }

  table.general-stats th {
    text-align: right;
    width: 300px;
  }

  table.general-stats td {
    padding-left: 20px;
  }

  table.data-source-mapping {
    border-collapse: collapse;
  }

  table.data-source-mapping th {
    border: 1px solid grey;
    padding: 5px 10px;
  }

  table.data-source-mapping td {
    border: 1px solid grey;
    padding: 5px 10px;
  }

  table.data-source-mapping td {
    text-align: center;
  }

  table.data-source-mapping td.data-source-map {
    width: 300px;
    text-align: left;
  }

  table.data-source-mapping td input {
    width: 200px;
    font-size: 16px;
    padding: 4px;
  }

  table.data-source-mapping td span {
    background-color: #000000;
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
    margin: 0px 10px;
    font-size: 14px;
    font: Arial;
  }

}
