<div style="text-align:left; font-weight: bold; font-size: 1.5em">
  @senzing/sdk-components-ng/examples/admin-importing
</div>
<div style="text-align:left; text-decoration: italic; font-size: 0.8em; margin: 2px 0 10px 0;">
  An example Angular app showing usage of the components and services only available
  when the <b>senzing-rest-api-server</b> is running in <b><i>admin mode</i></b>.
</div>

<div class="server-info">
  <div [class.active]="adminEnabled">Admin Enabled: {{adminEnabled}}</div>
  <div [class.active]="!readOnly">Read Only: {{readOnly}}</div>
</div>
<hr/>
