
:host {
    .download-pdf {
      padding: 5px 10px;
      display: inline-flex;
      justify-content: center;
      text-align: center;
      align-items: center;
  
      svg { margin-right: 5px; }
    }
  }
  