
<div>
  <!-- start graph context menu template -->
  <ng-template #graphContextMenu let-entityEvt>
      <ul class="graph-context-menu">
          <li>Open in new tab</li>
          <li (click)="hideGraphItem(entityEvt)">Hide</li>
      </ul>
  </ng-template>

  <!-- start graph control -->
  <div class="graph-container" #graphContainer>
    <sz-relationship-network #graphComponent
    svgWidth=100%
    svgHeight=1000
    entityIds="100002,500114"
    maxDegrees=1
    buildOut=4
    maxEntities=200
    (contextMenuClick)="onContextClick($event)"
    (scaleChanged)="onGraphZoom($event)"
    >
    </sz-relationship-network>
  </div>
</div>
