/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --sz-search-button-clear-padding: 0 10px 0 10px;
  --sz-search-button-submit-padding: 0 30px 0 30px;
  --sz-search-button-margin: 0;
  --sz-search-button-border-radius: 6px;
  --sz-search-button-clear-font-size: 10px;
  --sz-search-label-margin: 0 0 10px 4px;
  --sz-search-input-border-radius: 6px;
  --sz-entity-detail-pill-color: #FFF;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
  }
  20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
  }
}
