<div style="text-align:left; font-weight: bold; font-size: 1.5em">
  @senzing/sdk-components-ng/examples/search-with-prefs
</div>
<div style="text-align:left; text-decoration: italic; font-size: 0.8em; margin: 2px 0 10px 0;">
  An example Angular app showing usage of the sz-search, sz-search-results,
  and prefs service.
</div>

<!-- start search box -->
<div class="component-example">
  <sz-search
    #searchBox
    disableIdentifierOptions="SSN_LAST4"
    enableIdentifierOptions="SOCIAL_NETWORK"
    (resultsChange)="onSearchResults($event)"
    (resultsCleared)="onSearchResultsCleared($event)"
    (exception)="onSearchException($event)"
    (parameterChange)="onSearchParameterChange($event)"></sz-search>
</div>
<!-- end search box -->

<!-- start prefs service box -->
<sz-preferences #prefsComponent
(prefsChange)="onPrefsChange($event)"
></sz-preferences>

<button (click)="toggleOtherData()"> toggle show Other data</button>
<!--  end prefs service box  -->

<!-- start prefs manager box -->
<!-- <sz-prefs-manager></sz-prefs-manager> -->
<!--  end prefs manager box  -->

<!-- start graph context menu template -->
<ng-template #graphContextMenu let-entityEvt>
    <ul class="graph-context-menu">
        <li>#{{entityEvt?.entityId}}</li>
        <li (click)="openGraphItemInNewMenu(entityEvt.entityId)">Open in new tab</li>
    </ul>
</ng-template>
<!-- end graph context menu template -->

<!-- start search results -->
<div class="component-example">
  <sz-search-results *ngIf="showSearchResults" [results]="currentSearchResults" [parameters]="currentSearchParameters" (resultClick)="onSearchResultClick($event)"></sz-search-results>
</div>
<!-- end search results -->
<!-- start entity detail -->
<div *ngIf="showSearchResultDetail">
  <div class="detail-wrapper">
      <button (click)="onBackToSearchResultsClick($event)">&lt;&lt; Go Back to Search Results</button>
  </div>
  <sz-entity-detail
    #entityDetailComponent
    (graphEntityClick)="onGraphEntityClick($event)"
    (graphEntityDblClick)="onGraphEntityDblClick($event)"
    (graphContextMenuClick)="onGraphContextClick($event)"
    [showGraphMatchKeys]="true"
    [entityId]="currentlySelectedEntityId"></sz-entity-detail>
</div>
<!-- end entity detail -->
