name: npm build

on: push

permissions: {}

jobs:
  npm-build:
    name: build, compile, and test angular components
    outputs:
      status: ${{ job.status }}
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: setup
        run: npm ci

      - name: run Static Tests
        run: |
          npm test -- --no-watch --watch=false --progress=false --no-progress --browsers=ChromeHeadlessCI

      - name: ensure documentation is buildable
        run: |
          npm run build:docs

      - name: ensure angular components package compiles
        run: |
          npm run build

      - name: ensure web components package compiles
        run: |
          npm run build:web

  slack-notification:
    needs: [npm-build]
    if: ${{ always() && contains(fromJSON('["failure", "cancelled"]'), needs.npm-build.outputs.status ) && github.ref_name == github.event.repository.default_branch }}
    secrets:
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
    uses: senzing-factory/build-resources/.github/workflows/build-failure-slack-notification.yaml@v3
    with:
      job-status: ${{ needs.npm-build.outputs.status }}
